<!-- Lista de blogs activos registrados.-->
<div>
  <!-- Area de navegación. -->
  <div>
    <div ng-if="vm.isActiveUser()" ng-init="vm.isActiveUser()===true">
      <!-- Si el usuario está activo, muestro la tabla. -->

      <!-- Directiva de angular.-->
      <blogs-details-directive title="Lista de Blogs activos" blogs="vm.model.nuevoBlog"
                               isactivo="vm.model.flgIsLogged" nombreusuario="vm.model.userName"
                               onchangeTitle="vm.theChangeTitle">
      </blogs-details-directive>


    </div>

    <!-- Si no está autenticado, se mostrará la pantalla de inicio. -->
    <div ng-if="!vm.isActiveUser()">
      <div class="jumbotron">
        <div class="container">
          <p>Pulse el botón <strong>Iniciar sesi&oacute;n</strong> para entrar a esta aplicaci&oacute;n.</p>
        </div>
      </div>
    </div>
  </div>
</div>