<head>
    <title>Mi aplicacion en Angular</title>
    <link rel="stylesheet" type="tetx/css" href="node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="app/css/styles.css">
</head>
<body class="container body-content">

    <h1>Blogs eliminados.</h1>

        <!-- Aplicación de Anguylar. -->
        <div ng-app="indexModule">


        <!-- Segundo Controlador. -->


            <!-- <button ng-click="vm.dataService.limpiarLista()">Vacíar lista</button>-->

            <!-- Lista de blogs eliminados -->
            <h2>Lista de blogs eliminados.</h2>
            <table class="table" style="vertical-align: middle; text-align: center; width: 100%;">
                <thead>
                    <tr>
                        <th>Id:</th>
                        <th>Comentario:</th>
                        <th>Tipo de comentario:</th>
                        <th>Nombre del producto:</th>
                        <th>Autor:</th>
                        <th>Prioritario:</th>
                        <th>Fecha de alta:</th>
                        <th>Fecha de actualizacion:</th>
                        <th>Operaciones:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.model.eliminadoBlog track by $index">
                        <td><span ng-bind="::item.idComentario | inputIdToText"></span></td>
                        <td><span ng-bind="item.comentarioTxt"></span></td>
                        <td><span ng-bind="item.tipoComentario"></span></td>
                        <td><span ng-bind="item.nombreProducto"></span></td>
                        <td><span ng-bind="item.autorComentario"></span></td>
                        <td><span ng-bind="item.flgPrioritario | inputboolToText"></span></td>
                        <td><span ng-bind="item.fechaAlta | date:'yyyy-MM-dd HH:mm:ss'"></span></td>
                        <td><span ng-bind="item.fechaActualizacion | date:'yyyy-MM-dd HH:mm:ss'"></span></td>
                        <td><button ng-click="vm.restaurarComentario(item.idComentario)" class="btn btn-default">Restaurar comentario</button></td>
                    </tr>
                </tbody>
            </table>

            <a href="#!/">Principal</a><br/>
        </div>
</body>