<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
    <title>Mi aplicacion en Angular</title>
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="app/css/styles.css">
</head>
<body class="unselectable content-wrapper" onmousedown='return false;' onselectstart='return false;' oncontextmenu='return false'>

    <!-- Angular App. -->
    <div ng-app="indexModule">  
        <div class="container">
            <div ng-controller="loginController as vm">

                <div ng-if="!vm.model.isLogged" ng-init="vm.model.isLogged===false">
                    <div class="form-group">
                        <label class="control-label">Nombre del Usuario:</label>
                        <select class="form-control" ng-options="operator2.name as operator2.name for operator2 in vm.model.arrayUsers" ng-model="vm.model.userName"></select>
                    </div>
                  
                  <button ng-click="vm.loginUser()">Iniciar sesi&oacute;n</button>
                </div>

                <div ng-if="vm.model.isLogged" ng-init="vm.model.isLogged===true">
                    <a href="#!/blogActivo">Blog activo</a>
                    <a href="#!/blogEliminado">Blog eliminados</a>
                    <label>Bienvenido <strong><span ng-bind="::vm.model.userName"></span></strong></label>
                    <button ng-click="vm.logoutUser()">Cerrar sesi&oacute;n</button>
                </div>

            </div> <!-- /.loginController -->
            <div ng-view></div><!-- /.ng-view -->
        </div><!-- /.container -->
    </div><!-- /.ng-app. -->

    <!-- External Scripts -->
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-route/angular-route.js"></script>
    <script src="node_modules/lodash/lodash.js"></script> 

    <!-- Internal Scripts -->
    <!-- In the order of scripting, put each of the javascript scripts so that Angular works correctly. -->
    <!-- Angular Modules. -->
    <script src="default-src/index.module.js"></script>

    <!-- Angular filters. -->
    <script src="default-src/index.boolean.filter.js"></script>
    <script src="default-src/index.Identifier.filter.js"></script>

    <!-- Angular Services. -->
    <script src="default-src/index.login_Service.js"></script>
    <script src="default-src/index.blog_Service.js"></script>

    <!-- Angular Controllers. -->
    <script src="default-src/index.login_Controller.js"></script>
    <script src="default-src/index.blogActivo_controller.js"></script>
    <script src="default-src/index.blogEliminado_controller.js"></script>
</body>