<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.13.5" targetFramework="net45" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net45" />
  <package id="Google.Apis" version="1.43.0" targetFramework="net45" />
  <package id="Google.Apis.Auth" version="1.43.0" targetFramework="net45" />
  <package id="Google.Apis.Core" version="1.43.0" targetFramework="net45" />
  <package id="Google.Apis.Drive.v2" version="1.43.0.1807" targetFramework="net45" />
  <package id="Google.Apis.Drive.v3" version="1.43.0.1807" targetFramework="net45" />
  <package id="Google.Apis.Sheets.v4" version="1.43.0.1839" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.4" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net45" />
  <package id="itextsharp.xmlworker" version="5.5.13.1" targetFramework="net45" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net45" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.IdentityModel.Logging" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.6.0" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.12" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net45" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net45" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net45" />
  <package id="SpreadsheetLight" version="3.4.11" targetFramework="net45" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.6.0" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
  <package id="Utilities.dll" version="1.0.21.1045" targetFramework="net45" developmentDependency="true" />
</packages>