.danger {
    color: red;
    font-style: italic;
    font-weight: bold;
}

.even{
  background-color: aqua;
}

.odd {
  background-color: brown;
  color: #fff;
}


.last {
    background-color: #000000;
    color: #fff;
  }