$font-stack:             Arial, Helvetica, sans-serif;
$primary-color:          #333333;
$font-size:              1.05em;
$texto-justificado:      justify;

$vertical-align:         middle;
$text-align:             center;

$bgDefault:              #e74c3c;
$bgHighlight:            #c0392b;
$colDefault:             #ecf0f1;
$colHighlight:           #ffbbbc;
$dropDown:               true;

body {
  font-family:           $font-stack;
  font-size:             $font-size !important;
  color:                 $primary-color !important;
  padding-top:           65px !important;
  padding-bottom:        20px !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

.unselectable {
  -webkit-user-select:   none;
  -webkit-touch-callout: none;
  -moz-user-select:      none;
  -ms-user-select:       none;
  user-select:           none;
}

table, thead, tr, tbody, th, td {
  text-align: $text-align;
  vertical-align: $vertical-align;
}

.table td {
  text-align: $text-align;
  vertical-align: $vertical-align;
}

form.tab-form-demo .tab-pane {
  margin: 20px 20px;
}

@media (min-width: 768px) {
  .navbar {
      border-radius: 3;
  }
}
