$font-stack:             Arial, Helvetica, sans-serif;
$primary-color:        #00002c;
$font-size:              0.85em;
$texto-justificado:      justify;

body {
  font-family:           $font-stack;
  font-size:             $font-size !important;
  color:                 $primary-color !important;
  padding-top:           50px !important;
  padding-bottom:        20px !important;
}

.unselectable { 
  -webkit-user-select:   none; 
  -webkit-touch-callout: none; 
  -moz-user-select:      none; 
  -ms-user-select:       none; 
  user-select:           none;
}